body {
    background-image: url("images\background2.jpg");
    background-size: cover;
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

header {
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
}

header h1 {
    padding: 0px 15px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content a {
    padding: 0px 10px;
    color: white;
    text-decoration: none;
}

.header-content a:hover {
    background-color: white;
    color: black;
}

.container-main {
    padding: 10px;
    display: flex;
    margin-top: 88px;
    margin-bottom: 88px;
    flex-direction: column;
    color: black;
    margin-left: 180px;
    margin-right: 180px;
    background-color: white;
}

.headshot {
    display: flex;
    flex-direction: row;
}

.headshot-text {
    width: 85%;}

.headshot-image {
    width:15%;
    padding: 10px;

}
.headshot-image img {
    width: 150px;
    border-radius: 50%;
}

.quote {
    background-color: rgb(238, 238, 238);
    padding: 5px;
    margin: 5px;
}
.container-sub2 {
    display: flex;
    flex-direction: row;
}

.webpro-links {
    text-align: left;
    margin-left: 40px;
    margin-right: 60px;
}


.assignment-table {
    border-collapse: separate;
    padding: 10px;

}

.assignment-table th {
    font-size: 28px;
    padding: 10px;

}

.assignment-table tr:nth-child(odd) {
    background-color: lightgray;
}

.assignment-table tr:nth-child(even) {
    background-color: white;
}

.assignment-table a {
    text-decoration: none;
    font-size: 20px;
    padding: 0px 10px;
}

.assignment-table a:hover {
    background-color: black;
    color: white;
}

.assignment-table a:visited {
    color: black;
}

.assignment-table a:visited:hover {
    color: white;
}


.hobbies a{
    color: black;
    text-decoration: none;
}
.hobbies a:hover {
    background-color: black;
    color: white;
}
.hobbies a:visited {
    color: gray;
}
.hobbies a:visited:hover {
    color: white;
}

footer {
    position: fixed;
    left: 0;
bottom: 0;
    background-color: black;
    color: white;
width: 100%;
padding: 15px;
}
footer a {
    color: white;
text-decoration: none;
padding: 5px;
}
footer a:hover {
background-color: white;
color: black;
}
