body {
    background-image: url("../images/background2.jpg");
    background-size: cover;
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    position: sticky;
}

header h1 {
    padding: 0px 15px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content a {
    padding: 10px 10px;
    color: white;
    text-decoration: none;
}

.header-content a:hover {
    background-color: white;
    color: black;
}

.container {
    display: flex;
    margin: 15px
}

.sidebar-left {
    background-color: white;
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
    width: 200px;
    padding-top:10px;
    padding-bottom: 10px;
}

.sidebar-left ul {
    list-style-type: none;
    padding: 0px;
}

.sidebar-left li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.sidebar-left li a:hover {
    background-color: #555555;
    color: white;
}

.main-content {
    color: black;
    margin-left: 350px;
    margin-right: 120px;
    background-color: white;
    flex: 1;
    padding: 20px;
}

.quote {
    background-color: rgb(238, 238, 238);
    padding: 5px;
    margin-bottom: 20px
}

.webpro-links {
    text-align: left;
}


.assignment-table {
    border-collapse: separate;

}

.assignment-table th {
    padding: 8px;
    font-size: 18px;

}

.assignment-table tr:nth-child(odd) {
    background-color: lightgray;
}

.assignment-table tr:nth-child(even) {
    background-color: white;
}

.assignment-table a {
    text-decoration: none;
    padding: 5px;
    font-size: 16px;
}

.assignment-table a:hover {
    background-color: black;
    color: white;
}

.assignment-table a:visited {
    color: black;
}

.assignment-table a:visited:hover {
    color: white;
}

.hobbies a{
    color: black;
    text-decoration: none;
}
.hobbies a:hover {
    background-color: black;
    color: white;
}
.hobbies a:visited {
    color: gray;
}
.hobbies a:visited:hover {
    color: white;
}
footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 10px;
}